#entries>* {
	border-radius: 12px;
	margin: 3px auto;
	width: 1000px;
}
h2:hover { background-color: #3f1212; }
h2 {
	padding-left: 10px;
	margin: 0px 0px 0px 0px;
	font-weight: normal;
	border-radius: 12px;
	cursor: pointer;
}
h2 span {
	font-weight: bold;
	width: 50px;
	float: right;
}
a { color: white; }
.tags *{ display: inline; }
.tags span:hover { background-color: #444444; }
.tags span {
	margin-left: 10px;
	cursor: pointer;
	background-color: #222222;
	padding: 1px 4px 3px 4px;
	border-radius: 3px;
	vertical-align: bottom;
}
.popout a {	display: table; }
.popout { padding: 0px 15px 20px 30px; }
form { display: inline; }
form input { height: 12px; width: 60px; }
.remove_entry:hover { background-color: #bbbbbb; }
.remove_entry {
	cursor: pointer;
	background-color: #222222;
	float: right;
	padding: 1px 4px 3px 4px;
	border-radius: 5px;
}
body { background-color: #444444; color: white; }
input { filter: invert(100%); }
button { filter: invert(100%); }
